
th, td {
  text-align: left;
  padding: 0px;
}

table, tr, td{
  border:none !important;
  thead{
    background-color: $secondary;
    color: white !important;
    & th{
      text-decoration-color: white !important;
      color: white !important;
    }
  }
 }
tr:nth-child(even) {
  background-color: #E0F2F1;
}